addict==2.4.0
albumentations==1.4.8
catalyst==22.4
einops==0.8.0
numpy==2.0.1
opencv_python==4.8.1.78
opencv_python_headless==4.9.0.80
Pillow==10.4.0
pytorch_lightning==2.1.2
timm==0.6.11
torch==2.1.2+cu118
torchvision==0.16.2+cu118
